# NBA Championship Database - DDL
Creating the database, tables and keys

In [9]:
#import all necessary packages and modules
import pandas as pd
import sqlite3

In [10]:
# standard imports for %sql magic
%load_ext sql

# initialize a %sql database connection
%sql sqlite:///nba_db.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: None@nba_db.db'

### Create a Team Table (level 1)

In [11]:
%%sql
DROP TABLE IF EXISTS Team;
CREATE TABLE Team (
    TeamID TEXT PRIMARY KEY,
    TeamName TEXT NOT NULL
) ;

Done.
Done.

[]

### Create a Game Table (level 2)

In [12]:
%%sql
DROP TABLE IF EXISTS Game;
CREATE TABLE Game (
    GameID INTEGER PRIMARY KEY ,
    GameNumber INTEGER NOT NULL ,
    TeamID INTEGER NOT NULL ,
    Minutes INTEGER NOT NULL ,
    Year INTEGER NOT NULL ,
    Foreign Key (TeamID) REFERENCES Team (TeamID)
) ;

Done.
Done.

[]

### Create a Stats Table (level 3)

In [13]:
%%sql
DROP TABLE IF EXISTS Stats;
CREATE TABLE Stats (
    StatsID INTEGER PRIMARY KEY ,
    Points INTEGER NOT NULL ,
    TeamID TEXT NOT NULL ,
    ThreePts INTEGER NOT NULL ,
    FreeThrow INTEGER NOT NULL ,
    OffenseRebound INTEGER NOT NULL ,
    DefenseRebound INTEGER NOT NULL ,
    Home INTERGER NOT NULL,
    Win INTEGER NOT NULL,
    Foreign Key (TeamID) REFERENCES Team (TeamID)
) ;

Done.
Done.

[]

### Create a Season Table (level 4)

In [14]:
%%sql
DROP TABLE IF EXISTS Season;
CREATE TABLE Season (
    SeasonID INTEGER PRIMARY KEY ,
    Year INTEGER NOT NULL ,
    TeamID TEXT NOT NULL ,
    Foreign Key (TeamID) REFERENCES Team (TeamID)
) ;

Done.
Done.

[]

### Create a Player Table (level 4)

In [15]:
%%sql
DROP TABLE IF EXISTS Player;
CREATE TABLE Player (
    PlayerID INTEGER PRIMARY KEY ,
    PlayerName TEXT NOT NULL ,
    TeamID TEXT NOT NULL ,
    SeasonID INTEGER NOT NULL,
    Age INTEGER NOT NULL,
    Foreign Key (TeamID) REFERENCES Team (TeamID),
    Foreign Key (SeasonID) REFERENCES Season (SeasonID)
) ;

Done.
Done.

[]

In [16]:
#sample of the data that we'll insert into database from local csv file
champions_data = pd.read_csv('championsdata.csv')
champions_data.head()

,Year,TeamName,TeamID,Game,Win,Home,Minutes,ThreePts,FreeThrow,OffensiveRebound,DefensiveRebound,Points
0,1980,Lakers,LAL,1,1,1,240,0,13,12,31,109
1,1980,Lakers,LAL,2,0,1,240,0,8,15,37,104
2,1980,Lakers,LAL,3,1,0,240,0,23,22,34,111
3,1980,Lakers,LAL,4,0,0,240,0,14,18,31,102
4,1980,Lakers,LAL,5,1,1,240,0,26,19,37,108

### Created a data table to insert all necessary data into the database
_This is where the data will get imported from the tables created above_

In [17]:
%%sql 
DROP TABLE IF EXISTS NBAData;
CREATE TABLE NBAData ( 
    Year INTEGER NOT NULL ,
    TeamName TEXT NOT NULL ,
    TeamID TEXT NOT NULL ,
    GameID INTEGER NOT NULL ,
    WIN INTEGER NOT NULL ,
    Home INTEGER NOT NULL ,
    Minutes INTEGER NOT NULL ,
    ThreePts INTEGER NOT NULL ,
    FreeThrow INTEGER NOT NULL ,
    OffensiveRebound INTEGER NOT NULL ,
    DefensiveRebound INTEGER NOT NULL ,
    Points INTEGER NOT NULL
);

Done.
Done.

[]

### Pragma Queries for Each of Tables Created

In [18]:
%%sql
pragma table_info('Team');

Done.

[(0, 'TeamID', 'TEXT', 0, None, 1), (1, 'TeamName', 'TEXT', 1, None, 0)]

In [19]:
%%sql
pragma table_info('Game');

Done.

[(0, 'GameID', 'INTEGER', 0, None, 1),
 (1, 'GameNumber', 'INTEGER', 1, None, 0),
 (2, 'TeamID', 'INTEGER', 1, None, 0),
 (3, 'Minutes', 'INTEGER', 1, None, 0),
 (4, 'Year', 'INTEGER', 1, None, 0)]

In [20]:
%%sql
pragma table_info('Stats');

Done.

[(0, 'StatsID', 'INTEGER', 0, None, 1),
 (1, 'Points', 'INTEGER', 1, None, 0),
 (2, 'TeamID', 'TEXT', 1, None, 0),
 (3, 'ThreePts', 'INTEGER', 1, None, 0),
 (4, 'FreeThrow', 'INTEGER', 1, None, 0),
 (5, 'OffenseRebound', 'INTEGER', 1, None, 0),
 (6, 'DefenseRebound', 'INTEGER', 1, None, 0),
 (7, 'Home', 'INTERGER', 1, None, 0),
 (8, 'Win', 'INTEGER', 1, None, 0)]

In [21]:
%%sql
pragma table_info('Season');

Done.

[(0, 'SeasonID', 'INTEGER', 0, None, 1),
 (1, 'Year', 'INTEGER', 1, None, 0),
 (2, 'TeamID', 'TEXT', 1, None, 0)]

In [22]:
%%sql
pragma table_info('Player');

Done.

[(0, 'PlayerID', 'INTEGER', 0, None, 1),
 (1, 'PlayerName', 'TEXT', 1, None, 0),
 (2, 'TeamID', 'TEXT', 1, None, 0),
 (3, 'SeasonID', 'INTEGER', 1, None, 0),
 (4, 'Age', 'INTEGER', 1, None, 0)]

### Pragma Queries for tables with foreign keys

In [23]:
%%sql
pragma foreign_key_list('Game');

Done.

[(0, 0, 'Team', 'TeamID', 'TeamID', 'NO ACTION', 'NO ACTION', 'NONE')]

In [24]:
%%sql
pragma foreign_key_list('Stats');

Done.

[(0, 0, 'Team', 'TeamID', 'TeamID', 'NO ACTION', 'NO ACTION', 'NONE')]

In [25]:
%%sql
pragma foreign_key_list('Season');

Done.

[(0, 0, 'Team', 'TeamID', 'TeamID', 'NO ACTION', 'NO ACTION', 'NONE')]

In [26]:
%%sql
pragma foreign_key_list('Player');

Done.

[(0, 0, 'Season', 'SeasonID', 'SeasonID', 'NO ACTION', 'NO ACTION', 'NONE'),
 (1, 0, 'Team', 'TeamID', 'TeamID', 'NO ACTION', 'NO ACTION', 'NONE')]