In [53]:
import pandas as pd
import numpy as np
import sqlite3 as sqlite

In [54]:
# standard imports for %sql magic
%load_ext sql

# initialize a %sql database connection; may have to adjust username and password 
%sql mysql+pymysql://root:mysql@localhost

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: root@None'

In [55]:
%sql CREATE DATABASE IF NOT EXIST NBA_db

(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'EXIST NBA_db' at line 1") [SQL: 'CREATE DATABASE IF NOT EXIST NBA_db']

In [4]:
%sql USE NBA_db

0 rows affected.

[]

In [11]:
%%sql
CREATE TABLE IF NOT EXISTS Team (
    TeamID varchar (5) NOT NULL ,
    TeamName varchar (150) default null ,
    Primary Key (TeamID)
    ) ;

0 rows affected.

[]

In [10]:
%sql drop table team

0 rows affected.

[]

In [12]:
%%sql
CREATE TABLE IF NOT EXISTS Game (
    GameID INT (100) NOT NULL auto_increment ,
    GameNumber INT (1) default null ,
    TeamID varchar (5) default null ,
    Minutes INT (200) ,
    Primary Key (GameID) ,
    Foreign Key (TeamID) REFERENCES Team (TeamID)
    ) ;

0 rows affected.

[]

In [13]:
%%sql
CREATE TABLE IF NOT EXISTS Stats (
    StatsID INT (10) NOT NULL auto_increment ,
    TeamID varchar (150) default null ,
    GameID INT (100) default null ,
    Points INT (4) default null ,
    ThreePts INT (3) default null ,
    FreeThrow INT (3) default null ,
    OffenseRebound INT (3) default null ,
    DefenseRebound INT (3) default null ,
    Home INT (1) default null,
    Win INT (1) default null,
    Primary Key (StatsID) ,
    Foreign Key (TeamID) REFERENCES Team (TeamID),
    Foreign Key (GameID) REFERENCES Game (GameID)
    ) ;

0 rows affected.

[]

In [15]:
%%sql
CREATE TABLE IF NOT EXISTS Season (
    SeasonID INT (100) NOT NULL auto_increment ,
    Year INT (10) default null ,
    TeamID varchar (5) default null ,
    GameID INT (100) default null ,
    Primary Key (SeasonID) ,
    Foreign Key (TeamID) REFERENCES Team (TeamID) ,
    Foreign Key (GameID) REFERENCES Game (GameID)
    ) ;

0 rows affected.

[]

In [47]:
#import data from local csv file
champions_data = pd.read_csv('championsdata.csv')
champions_data.head()

,Year,TeamName,TeamID,Game,Win,Home,Minutes,ThreePts,FreeThrow,OffensiveRebound,DefensiveRebound,Points
0,1980,Lakers,LAL,1,1,1,240,0,13,12,31,109
1,1980,Lakers,LAL,2,0,1,240,0,8,15,37,104
2,1980,Lakers,LAL,3,1,0,240,0,23,22,34,111
3,1980,Lakers,LAL,4,0,0,240,0,14,18,31,102
4,1980,Lakers,LAL,5,1,1,240,0,26,19,37,108

In [60]:
%%sql 
CREATE TABLE IF NOT EXISTS NBAData ( 
    Id INT(100) not null ,
    Year INT(10) not null ,
    TeamName varchar(100) not null ,
    TeamID INT(5) not null ,
    GameID INT(5) not null ,
    WIN INT(1) not null ,
    Home INT(1) not null ,
    Minutes INT(200) not null ,
    ThreePts INT(3) not null ,
    FreeThrow INT(3) not null ,
    OffensiveRebound INT(3) not null ,
    DefensiveRebound INT(3) not null ,
    Points INT(3) not null
);

0 rows affected.

[]

In [64]:
conn = sqlite3.connect("NBA_db.db")

In [65]:
champions_data.to_sql('NBAData', conn)

ValueError: Table 'NBAData' already exists.